{% extends 'base-admin.html.twig' %}

{% block title %}Command index{% endblock %}

{% block body %}
{% if app.user %} 
{% if is_granted('ROLE_ADMIN') %}
    <div class="m-4">
        <h2 class="greenText">Index des commandes</h2>
        <table class="table table-striped table-success mt-4 col-8">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Total</th>
                    <th>NumCommand</th>
                    <th>Créé le</th>
                    <th>Status</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for command in commands %}
                <tr>
                    <td>{{ command.id }}</td>
                    <td>{{ command.totalPrice }}</td>
                    <td>{{ command.numCommand }}</td>
                    <td>{{ command.createdAt ? command.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ command.status }}</td>
                    <td>
                        <a href="{{ path('app_command_show', {'id': command.id}) }}"><i class="fa-solid fa-magnifying-glass"></i></a>
                        {# <a href="{{ path('app_command_edit', {'id': command.id}) }}">edit</a> #}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
{% else  %}
<div class="container my-4">
    <div class="text-center" style="height: 100vh;">
        <h2 >Vous n'avez pas les droits!</h2><br> 
        <h2><a href="{{path('app_home')}}">ACCUEIL</a></h2>
    </div>
</div>

{% endif %}
    {# <a href="{{ path('app_command_new') }}">Create new</a> #}
{% endblock %}
