{% extends 'base-admin.html.twig' %}

{% block title %}Command{% endblock %}

{% block body %}
{% if app.user %} 
{% if is_granted('ROLE_ADMIN') %}
    <div class="container m-4">
        <div class="col-8">
            <h2 class="greenText">Commandes</h2>
            <table class="table">
                <tbody>
                    <tr>
                        <th class="greenText">Id</th>
                        <td>{{ command.id }}</td>
                    </tr>
                    <tr>
                        <th class="greenText">Total</th>
                        <td>{{ command.totalPrice }}</td>
                    </tr>
                    <tr>
                        <th class="greenText">Numéro de Command</th>
                        <td>{{ command.numCommand }}</td>
                    </tr>
                    <tr>
                        <th class="greenText">Créée le</th>
                        <td>{{ command.createdAt ? command.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th class="greenText">Status</th>
                        <td>{{ command.status }}</td>
                    </tr>
                </tbody>
            </table>
            <a class="btn btn-success mt-4" href="{{ path('app_command_index') }}">retour</a>
            {# <a href="{{ path('app_command_edit', {'id': command.id}) }}">edit</a>
            {{ include('command/_delete_form.html.twig') }} #}
        </div>
    </div>
    {% endif %}
    {% else  %}
    <div class="container my-4">
        <div class="text-center" style="height: 100vh;">
            <h2 >Vous n'avez pas les droits!</h2><br> 
            <h2><a href="{{path('app_home')}}">ACCUEIL</a></h2>
        </div>
    </div>
    
    {% endif %}
{% endblock %}
