{% extends 'base-front.html.twig' %}

{% block title %}Tout nos produits{% endblock %}

{% block body %}

<div class="container">
    <div class="row ">
        {% for category in categoryParent.categories %}
            {% if category.products | length >0 %}
            <H3 class="greenText">{{category.label}}</H3>
            
            {% for product in category.products %}
                <div class="col-10 col-lg-3 my-1 me-2 p-2 border border-success">
                        {{product.label |slice(0, 30)}}...<br>
                        {{product.price}}€<br>
                        {% for picture in product.productPictures %}
                            <div class="container-image mb-2">
                                <img src="{{asset('upload/productImages/'~picture.path)}}">
                            </div>
                        {% endfor %}

                        <a href="{{path('productDetail', {'id': product.id} )}}" class="btn btn-outline-success">Voir détail</a>
                        
                        {% if app.user %}
                        <a href="{{path('app_add_basket', {'id': product.id} )}}" class="btn btn-outline-success">Ajouter au panier</a>
                        {% endif %}
                </div>
            {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}



  

