{% extends 'base-admin.html.twig' %}

{% block title %}Ajout de marque{% endblock %}

{% block body %}
{% if app.user %} 
{% if is_granted('ROLE_ADMIN') %}
<div class="container m-4">
    {% if is_granted('ROLE_ADMIN') %}
    <div class="col-8">
        <H2 class="greenText mb-4 p-0">Nouvelle marque</H2>
        {{ form_start(form) }}
        {{ form_row(form.label) }}
        {{ form_row(form.imagePath)}}
        <button type="submit" class="btn btn-success">Soumettre</button>
        {{ form_end(form) }}
    </div>
</div>
{% endif %}
{% else  %}
<div class="container my-4">
    <div class="text-center" style="height: 100vh;">
        <h2 >Vous n'avez pas les droits!</h2><br> 
        <h2><a href="{{path('app_home')}}">ACCUEIL</a></h2>
    </div>
</div>

{% endif %}
{% endblock %}