<h1>La Nîmes'alerie</h1>

<!-- navbar -->
<div class=" m-0 p-0">
    <nav class="navbar navbar-expand-lg navbar-light green">
        <div class=" container-fluid">
            <a class="navbar-brand" href="{{path('app_home')}}">
                <img src="{{ asset('build/images/green-logo.png') }}" alt="" width="80" height="80">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="fs-2 navbar-nav me-auto mb-2 mb-lg-0 m-auto">
                    {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item pe-3">
                        <a class="nav-link " href="{{ path('app_command_index') }}"><i class="fa-solid fa-satellite"></i></a>
                    </li>
                    {% endif %}

                    <li class="nav-item pe-3">
                        <a class="nav-link " href="{{ path('app_space') }}"><i class="fa-solid fa-rocket"></i></a>
                    </li>
                    <li class="nav-item pe-3">
                        <a class="nav-link " href="{{ path('app_product') }}">Catalogue</a>
                    </li>


                    {% set categories = getParentCategory()  %}
                    {% for category in categories %}
                    <li class="nav-item pe-3">
                        <a class="nav-link " href="{{ path('app_product_category', {'id': category.id})}}">{{category.label}}</a>
                    </li>
                    {% endfor %}

                </ul>

                {% if app.user %}
                <div>
                    <p class="m-0">Bonjour, <a class="navbarA" href="{{ path('app_detail' , {'id': app.user.id}) }}"> {{ app.user.firstName }}</a>   <a href="{{ path('app_logout') }}"><button type="button" class="btn btn-outline-dark"><i class="fa-solid fa-xmark"></i></button></p>
                </div>

                {% endif %}
                <!-- champ recherche -->
                {# <div class="pe-8">
                    <form class="d-flex me-8">
                        <input class="form-control me-0" type="search" placeholder="Rechercher"
                            aria-label="Search">
                        <button class="btn btn-outline-dark me-8" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg>
                        </button>
                    </form>
                </div> #}
                <!-- //champ recherche -->

                <!-- bouton panier -->
                {% if app.user %}
                <a class="nav-link  ps-8 " href="{{path('app_basket')}}">
                    <button type="button " class="btn btn-outline-dark">
                        <i class="fa-solid fa-basket-shopping"></i>
                    </button>
                </a>
                {% endif %}
                <!-- //bouton panier -->

                <!-- bouton connexion -->
                {% if app.user == null %}
                <a class="nav-link m-0 p-0" href="{{ path('app_login') }}">
                    <button type="button" class="btn btn-outline-dark">
                        <i class="fa-solid fa-user-astronaut"></i>
                    </button>
                </a>
                {% endif %}
                <!-- //bouton connexion -->
            </div>


        </div>
    </nav>

    <div id="slideNav" class="carousel slide text-center greenDark" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <p class="m-0 p-0">Livraison gratuite à partir de 60€</p>
          </div>
          <div class="carousel-item">
            <p class="m-0 p-0">Envoi le jour même pour toute commande avant 14h</p>
          </div>
          <div class="carousel-item">
            <p class="m-0 p-0">Moyens de paiements : <i class="fa-solid fa-credit-card"></i> <i class="fa-brands fa-paypal"></i></p>
          </div>
        </div>
      </div>
    {# <div class=" d-flex green justify-content-around">
        <p class="m-0 p-0">Livraison gratuite à partir de 60€</p>
        <p>Envoi le jour même</p>
        <p>moyen de paiement: <i class="fa-solid fa-credit-card"></i> <i class="fa-brands fa-paypal"></i></p>

    </div> #}
</div>
