{% extends 'base-front.html.twig' %}

{% block title %}La Nîmes'alerie!{% endblock %}

{% block body %}
{% if app.user %}
<div class="m-4 ">
    <h2 class="greenText">Votre panier</h2>

    <table class="table table-striped border border-success">
        <thead>
            <tr>
                <th scope="col">Produits</th>
                <th scope="col">Prix</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
    
            {% for product in panier.products %}
            <tr>
                <th scope="row"> {{product. label}}</th>
                <td>{{product.price}}€</td>
                <td><a href="{{path('app_remove_basket', {'id': product.id})}}" class="btn btn-outline-danger"><i class="fa-solid fa-trash-can"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th scope="row">Total</th>
                <td>{{panier | totalProduct }}€</td>
                <td><a href="" class="btn btn-outline-success"><i class="fa-solid fa-credit-card"></i></a></td>
            </tr>
        </tfoot>
    </table>
    <p>Numéro de commande: {{panier.numCommand}}</p><br>
</div>
{% else  %}
<div class="container my-4">
    <div class="text-center" style="height: 100vh;">
        <h2 >Vous devez vous <a href="{{ path('app_login') }}">connecter!</a></h2>
    </div>
</div>
{% endif %} 

{% endblock %}