{% extends 'base-front.html.twig' %}

{% block title %}La Nîmes'alerie!{% endblock %}

{% block body %}
<h2>Votre panier</h2>
<p>Numéro de commande: {{panier.numCommand}}</p><br>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Produits</th>
            <th scope="col">Quantités</th>
            <th scope="col">Prix</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        {% for product in panier.products %}
        <tr>
            <th scope="row"> {{product. label}}</th>
            <td>{{product.price}}</td>
            <td>{{product.price}}</td>
            <td><a href="{{path('app_remove_basket', {'id': product.id})}}" class="btn btn-outline-danger">supprimer</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p>Total de la commande: {{panier.totalPrice}}€</p>
<a href="" class="btn btn-outline-success">Paiement</a>
{% endblock %}
